# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install .[test]
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 graphkb --count --select=E9,F63,F7,F82 --show-source --statistics
    - name: Check with black
      run: |
        black --check -S -l 100 graphkb tests
    - name: Test with pytest
      run: |
        pytest
    - name: Test with pytest
      run: pytest --junitxml=junit/test-results-${{ matrix.python-version }}.xml
      env:
        GRAPHKB_USER: ${{ secrets.GKB_TEST_USER }}
        GRAPHKB_PASS: ${{ secrets.GKB_TEST_PASS }}
    - name: Upload pytest test results
      uses: actions/upload-artifact@master
      with:
        name: pytest-results-${{ matrix.python-version }}
        path: junit/test-results-${{ matrix.python-version }}.xml
        # Use always() to always run this step to publish test results when there are test failures
      if: always()
